* {
  box-sizing: border-box;
  list-style: none;
}
.container-1 {
  margin: 5vw 0vw;
}
/* CSS of header  */
header {
  position: fixed;
  z-index: 3;
  width: 70%;
  left: 50%;
  transform: translate(-50%, 0%);
}
nav {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5vw 0.8vw 0.4vw 0.8vw;
  border-bottom: white;
  align-items: center;
  border-bottom: 0.01rem solid rgb(231, 231, 231);
}
nav ul {
  display: flex;
}
nav li {
  padding: 0vw 1vw;
}

/* Css of LOGO  */

#logo {
  background-image: url("/images/logo.png");
  background-position: 0px -186px;
  background-repeat: no-repeat;
  width: 270px;
  height: 35px;
}
#logo_search {
  display: flex;
  align-items: center;
}
#logo_search input {
  background: none;
  border: none;
  border-radius: 15px;
  width: 20vw;
  padding: 5px;
  color: white;
}
#logo_search ::placeholder {
  color: rgb(178, 176, 176);
}
#logo_search input:focus {
  outline: none;
}

/* CSS of Banner  */

.transition {
  z-index: 2;
  background-image: url("../images/banner.jpg");
  width: 100%;
  height: 48vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.transition::after {
  content: "";
  position: absolute;
  background-color: #00000070;
  width: 100%;
  height: 100%;
}
.banner {
  z-index: 3;
  position: absolute;
  left: 19%;
  top: 25%;
  padding: 1vw;
  color: white;
  height: 70%;
}

.banner > p {
  font-size: 350%;
  margin: 0%;
  text-align: center;
}

/* CSS of Changing titles */
#changing-title {
  font-size: 600%;
  font-weight: bold;
  height: 7vw;
  overflow: hidden;
  margin: 1%;
}
@keyframes scrolling {
  0% {
    transform: translate(0%, -10%);
  }
  26% {
    transform: translate(0%, -110%);
  }
  50% {
    transform: translate(0%, -210%);
  }
  75% {
    transform: translate(0%, -310%);
  }
  100% {
    transform: translate(0%, -410%);
  }
}
#changing-title p {
  margin: 0%;
  text-align: center;
  animation-name: scrolling;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

/* CSS of banner ul  */

.banner ul {
  display: flex;
  justify-content: center;
  z-index: 4;
  margin-bottom: 1.1%;
  margin-top: 7%;
}
.banner li a {
  padding: 0.7vw 2vw;
  color: white;
  background-color: #464545d2;
  text-decoration: none;
  border-right: 2px solid white;
}

.banner li:nth-child(5) a {
  border: none;
  border-radius: 0px 8px 8px 0px;
}
.banner li:nth-child(1) a {
  border-radius: 8px 0px 0px 8px;
}
.banner li a:hover {
  background-color: var(--primary-color);
}
.banner ul i {
  padding: 0.2vw;
}
.banner input {
  width: 60vw;
  padding: 1vw;
  border-radius: 15px;
  border: none;
}
.banner input:focus {
  outline: none;
}
#banner_footer {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  height: 38%;
}
.stats {
  display: flex;
  align-items: center;
  color: rgb(227, 224, 224);
}
.stats i {
  padding: 0vw 1vw;
}
.stats div {
  font-size: small;
}

/* CSS of Escape section  */

#escape {
  display: flex;
  justify-content: center;
  align-items: center;
}
#escape_cards {
  display: flex;
}
#escape_heading div {
  margin: auto;
  font-size: 200%;
  font-weight: bold;
  width: 20vw;
}
#escape_heading hr {
  width: 4vw;
  border-top: 3px solid var(--primary-color);
  margin-left: 0px;
}
.escape_img {
  margin: 1vw;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.7s;
}
.escape_img:hover {
  transform: scale(1.06);
}
#escape_cards {
  margin-left: 4vw;
}
.escape_img img {
  border-radius: 15px;
}
/* CSS of grid  */
#grid {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-weight: 700;
}
.grid_left img {
  width: 39.5vw;
  border-radius: 15px;
  display: block;
  transition-property: all;
  transition-duration: 0.8s;
}
.grid_left {
  overflow: hidden;
  border-radius: 15px;
}
.left-1 img {
  height: 17vw;
}
.left-2 img {
  height: 20.6vw;
}
.left-1,
.left-2 {
  margin-bottom: 1.2vw;
  position: relative;
}
.left-1::after,
.left-2::after {
  content: "";
  position: absolute;
  background-color: #0000004c;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.left-2::after {
  content: "Dubai";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 170%;
}
.left-1 a {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 1vw;
  z-index: 4;
}
.left-1 a h1 {
  margin-bottom: 0%;
}
.left-1 a p {
  margin-top: 0%;
}
.left-1 button {
  font-size: 140%;
  font-weight: 600;
  padding: 0.7vw;
  background-color: rgb(249, 216, 6);
  color: black;
  border: none;
  border-radius: 8px;
  margin-top: 1vw;
}
.grid_right {
  display: flex;
  flex-direction: column;
}
.grid_right_outer {
  display: flex;
}

.grid_right img {
  display: block;
  width: 11vw;
  border-radius: 15px;
}
.right_big_img {
  height: 14.4vw;
}
.right_small_img {
  height: 11vw;
}
.right_small_img img {
  height: 11vw;
  transition-property: all;
  transition-duration: 0.8s;
}

.right_big_img,
.right_small_img {
  margin: 0vw 0vw 1.2vw 1vw;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
.right_big_img img {
  height: 14.4vw;
  transition-property: all;
  transition-duration: 0.8s;
}
.right_big_img::after {
  content: "Norway";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #0000004c;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  border-radius: 15px;
}
.right_small_img::after {
  content: "London";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #0000004d;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.grid_left:hover {
  cursor: pointer;
}
.grid_left:hover img {
  transform: scale(1.06);
}
.right_big_img:hover,
.right_small_img:hover {
  cursor: pointer;
}
.right_big_img:hover img,
.right_small_img:hover img {
  transform: scale(1.06);
}

/* CSS of carousel (class: best) */
.best_images {
  width: 500px;
}

.best_images img {
  width: 230px;
}

html,
body {
  position: relative;
  height: 100%;
}

.swipe-1 {
  width: 75vw;
  height: 20vw;
  margin: 2vw auto;
}

.carousel {
  width: 15vw !important;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.carousel img {
  display: block;
  width: 15vw;
  height: 20vw;
  object-fit: cover;
  border-radius: 15px;
  transition-property: all;
  transition-duration: 0.8s;
}
.bestOf:hover img {
  transform: scale(1.06);
}
.bestOf:hover .best-overlay {
  cursor: pointer;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.818) 0%,
    rgba(0, 0, 0, 0.466) 26%,
    rgba(0, 0, 0, 0.273) 100%
  );
}

.best h1 {
  text-align: center;
  margin-bottom: 0.8%;
}
.best hr {
  border-top: 3px solid var(--primary-color);
  width: 4vw;
  text-align: center;
  margin-top: 0%;
}

.best-overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  color: white;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.437) 26%,
    rgba(0, 0, 0, 0.233) 100%
  );
  border-radius: 15px;
  transition-property: all;
  transition-duration: 0.8s;
}
.carousel p {
  text-align: center;
  margin-top: 115%;
}

/* CSS of auto-transition carousel  */
.swipe-2 {
  width: 75vw;
  height: 100%;
}

.swiper-trans {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
}

.swiper-trans img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/* CSS of card carousels  */
.cardCarousel {
  overflow: hidden;
}
.cardCarousel:hover {
  transform: scale(1.03);
}
.cards h1 {
  text-align: center;
  margin-bottom: 0.8%;
}
.cards hr {
  border-top: 3px solid var(--primary-color);
  width: 4vw;
  text-align: center;
  margin-top: 0%;
}
.card-link {
  padding: 0.6vw 1vw;
  padding-bottom: 0%;
}
.swipe-3 {
  width: 75vw;
  margin: 2vw auto;
}
.inner-carousel {
  position: relative;
  overflow: hidden;
}
.card-link a {
  text-decoration: none;
  color: black;
}
.card-ratings {
  font-size: small;
  padding: 0.6vw 1vw;
  padding-bottom: 0%;
  color: grey;
}
.card-price {
  padding: 0.6vw 1vw;
}
.cards i {
  padding: 0%;
  margin: 0%;
}
/* .cardCarousel :hover img {
  transform: scale(1.06);
  cursor: pointer;
} */

/* CSS of Destination container  */

.destination-cont h1 {
  text-align: center;
}
.destination-cont hr {
  border-top: 3px solid var(--primary-color);
  width: 4vw;
  text-align: center;
  margin-top: 0%;
}
.bar-item {
  display: flex;
  width: 75vw;
  justify-content: center;
  margin: auto;
  color: grey;
}

.bar-item span {
  padding: 0.4vw 0.8vw;
  margin: 0.5vw 1vw;
  border: 1px solid grey;
  border-radius: 50px;
  font-size: small;
}
.bar-item span:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
}
.destination-grid {
  display: flex;
  width: 75vw;
  margin: 2.5vw auto;
  justify-content: space-between;
}
.destination-grid-item {
  display: flex;
  width: 18%;
  padding: 0.5vw;
  transition-property: all;
  transition-duration: 0.3s;
}
.destinationImg:hover {
  border-radius: 12px;
  box-shadow: 0px 3px 9px rgb(145, 145, 145);
}
.destination-grid-item img {
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 12px;
}
.destination-grid-item div p {
  margin: 0%;
  padding: 0% 1vw;
}

.small {
  font-size: calc(0.1em + 0.8vw);
}
.destinationButton {
  margin-top: 1%;
}

.destination-grid-item a {
  padding: 0.6vw 0.5vw;
  font-size: small;
  font-weight: 600;
  background-color: var(--primary-color);
  color: white;
  border: 2px solid white;
  text-decoration: none;
  width: 8vw;
  height: 2.8vw;
  text-align: center;
  border-radius: 12px;
}
.destination-grid-item a:hover {
  background-color: white;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
/* Paradise on Earth */
.paradise {
  width: 75vw;
  margin: auto;
}
.paradise h1 {
  margin: 0%;
  text-align: center;
}
.paradise > hr {
  border-top: 3px solid var(--primary-color);
  width: 4vw;
}
.innerParadise {
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.paradiseCards {
  margin: 1vw 0vw;
  width: 21%;
}
.paradiseCards img {
  width: 16vw;
  height: 16vw;
  object-fit: cover;
  display: block;
}
.paradiseText {
  width: 100%;
  height: 8vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: small;
}
.paradiseText div {
  width: 30%;
}
.paradiseText div a {
  text-decoration: none;
  color: var(--base-color);
  width: 30%;
  line-height: 2;
}
.paradiseText a:hover {
  color: var(--primary-color);
}

.paradiseCards hr {
  border-top: 2px solid var(--primary-color);
  width: 2.5vw;
  margin-left: 0%;
}
.paradiseCards h3 {
  margin-bottom: 0%;
  font-size: medium;
}

/* Trends in travel */
.trends {
  width: 75vw;
  margin: auto;
}
.trends a {
  text-decoration: none;
  color: black;
}
.trends hr {
  border-top: 3px solid var(--primary-color);
  width: 4vw;
  /* margin: 0% auto; */
}
.trends h1 {
  text-align: center;
  margin-bottom: 0%;
}
.outerTrends {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3vw;
}
.trendsLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  /* height: 100%; */
}
.trendsRight {
  width: 55%;
  display: flex;
  flex-direction: column;
}
.linkSec {
  display: flex;
  padding: 1vw;
}
.para {
  padding: 0vw 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.linkSec img {
  width: 5.5vw;
  height: 4.5vw;
  object-fit: cover;
}
.trendsRight img {
  width: 100%;
  object-fit: cover;
  height: 20vw;
}
.para h5 {
  font-weight: lighter;
  margin: 0%;
  color: grey;
}
.trendsRight h2 {
  margin: 0%;
}

.trendsLeft span {
  margin-right: 5vw;
  align-self: self-end;
}
.trendsRight span {
  align-self: self-end;
}
/* Gift Cards  */
.giftCard {
  margin: 7vw auto;
  width: 75vw;
  display: flex;
  justify-content: space-between;
}
.giftCardContent {
  text-align: center;
}
.giftCardContent p {
  color: grey;
  font-weight: 200;
}
.giftCardContent a {
  padding: 0.6vw 1.7vw;
  background-color: var(--primary-color);
  border: none;
  border-radius: 9px;
  color: white;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.088);
  text-decoration: none;
}
.giftCardContent a:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: white;
}
.giftCard img {
  width: 85%;
}

/* Our Partners */
.partners {
  width: 75vw;
  margin: auto;
  text-align: center;
}
#partnersImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#partnersImg img {
  width: 7vw;
  height: min-content;
  padding: 0.5vw;
  display: block;
  margin: 0% auto;
}
.partImg {
  width: 12.5%;
  height: 8.5vw;
}
.img11 img {
  width: 5vw;
}
/* About */
.about {
  margin-top: 8vw;
  font-size: x-small;
  background-color: rgb(40, 35, 48);
  padding: 4vw;
}
.outerAbout {
  background-color: white;
  width: 75vw;
  margin: auto;
  display: flex;
  padding: 1vw;
  border-radius: 15px;
  box-shadow: 0px 0px 5px grey;
  margin-top: -8vw;
}
.innerAbout {
  width: 23%;
  border-left: 2px solid rgb(202, 202, 202);
  padding: 0% 1.5vw;
}
.gridAbout {
  width: 24%;
}
.innerGridAbout {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: min-content;
  margin: 0%;

  /* width: min-content; */
}

.gridAbout img {
  display: block;
  width: 100%;
  transition-property: all;
  transition-duration: 0.7s;
}
.aboutImg div {
  color: white;
  position: absolute;
  top: 0%;
  text-align: center;
  font-size: small;
  width: 100%;
  height: 100%;
  padding-top: 40%;
  background-color: rgba(0, 0, 0, 0.252);
}

.aboutImg {
  position: relative;
  width: 5.2vw;
  height: 5.2vw;
  margin: 0.2vw;
  overflow: hidden;

  /* height: 5.4vw; */
}
.aboutImg:hover img {
  transform: scale(1.2);
}
